/*---Fonts---*/
@font-face
{
    font-family: Muli;
    src: url('fonts/Muli.ttf');
}

@font-face
{
    font-family: Muli;
    src: url('fonts/Muli-Bold.ttf');
    font-weight: bold;
}

@font-face
{
    font-family: Muli;
    src: url('fonts/Muli-Light.ttf');
    font-weight: 200;
}

@font-face
{
    font-family: Montserrat;
    src: url('fonts/Montserrat-Regular.ttf');
}

@font-face
{
    font-family: Montserrat;
    src: url('fonts/Montserrat-Bold.ttf');
    font-weight: bold;
}


/*---Basic Elements---*/
*
{
  border: 0; margin: 0; padding: 0; background-color: transparent;
}

html, body, #root, #app
{
  height: 100%;
  width: 100%;
}

#app.blue
{
  background-color: #242D5C;
}

/*---Header---*/
#main-header
{
  z-index: 75;
  position: fixed; top: 0; left: 0;
  width: 100%; height: 100px;
}

#main-logo
{
  display: block;
  position: relative; top: 30px; left: 70px;
  width: 215px; height: 38px;
  background-image: url('../img/main-logo-white.svg');
}

#app.blue #main-logo
{
  background-image: url('../img/main-logo-blue.svg');
}

#main-header-right
{
  position: absolute; top: 0; right: 0;
  width: 360px; height: 88px;
}

#main-header .page-title
{
  position: absolute; top: 46px; left: 510px;
  font-family: Montserrat; color: #FF6666; font-size: 25px; font-weight: bold;
  letter-spacing: 1px;
  line-height: 100%;
  text-transform: uppercase;
}

#main-header .language, #main-menu .language
{
  position: absolute;
  font-family: Montserrat; font-size: 16px; font-weight: bold;
  line-height: 100%;
  top: 50px; left: 70px;
  letter-spacing: 1px;
}

#main-header .language
{
  color: #FF6666;
}

#app.blue #main-header .language
{
  color: #FFF;
}

#main-header .language .separator, #main-menu .language .separator
{
  display: inline-block;
  margin: 0 15px 0 16px;
  width: 0; height: 10px;
}

#main-header .language .separator
{
  border-right: 2px solid #FF6666;
}

#app.blue #main-header .language .separator
{
  border-right: 2px solid #FFF;
}

#main-header .language .separator::before, #main-header .language .separator::before
{
  content: " ";
}

#main-header .language .selected
{
 border-bottom: 2px solid #FF6666;
}

#app.blue #main-header .language .selected
{
 border-bottom: 2px solid #FF6666;
}

#main-header .menu-ham, #main-menu .menu-exit, #author-profile-exit
{
  display: block;
  position: absolute;
  height: 16px;
  top: 50px; right: 70px;
}

#main-header .menu-ham
{
  width: 18px;
  background-image: url('../img/menu-ham-white.svg');
}

#app.blue #main-header .menu-ham
{
  background-image: url('../img/menu-ham-blue.svg');
}


/*---Menus---*/
#menus
{
  z-index: 100;
  position: fixed; top: 0; right: 0;
  width: 720px; height: 100%;
  box-shadow: 0 0 75px 0 rgba(0, 0, 0, 0.33);
}

#main-menu, #news-menu
{
  box-sizing: border-box;
  position: absolute; top: 0;
  width: 360px; height: 100%;
  padding: 70px;
}

#main-menu
{
  right: 0;
  background-color: #FF6666;
  color: #FFF;
}

#main-menu .language .separator
{
  border-right: 2px solid #FFF;
}

#main-menu .language .selected
{
 border-bottom: 2px solid #FFF;
}

#main-menu .menu-exit
{
  width: 16px;
  background-image: url('../img/menu-exit.svg');
}

#main-menu .search-form
{
  display: block;
  margin-top: 80px;
  line-height: 0;
  font-size: 0;
}

#main-menu .search-field, #main-menu .search-btn
{
  display: inline-block;
  font-family: Montserrat; color: #FFF; font-size: 20px;
  line-height: 100%;
  background: transparent;
  border-style: solid;
  border-color: #FFF;
}

#main-menu .search-field
{
  width: 129px; height: 20px;
  border-width: 1px;
  padding: 10px 20px;
}

#main-menu .search-field::-webkit-input-placeholder { color: #FFF; }
#main-menu .search-field::-moz-placeholder { color: #FFF; }
#main-menu .search-field:-ms-input-placeholder {color: #FFF; }
#main-menu .search-field:-moz-placeholder { color: #FFF; }

#main-menu .search-btn
{
  width: 49px;
  font-weight: bold;
  padding: 10px;
  border-width: 1px 1px 1px 0;
}

#main-menu .pages-list
{
  display: block;
  margin-top: 70px;
  list-style-type: none;
}

#main-menu .pages-list li
{
  display:block;
  border-bottom: 1px solid #FFF;
  padding: 12px 0;
  font-family: Muli; color: #FFF; font-size: 20px; font-weight: 200;
  line-height: 100%;
  margin-bottom: 16px;
}

#main-menu .pages-list li a
{
  text-decoration: none;
  color: #FFF;
}

#main-menu .pages-list li a.active
{
  font-family: Montserrat;
  font-weight: bold;
}

#main-menu .footer
{
  display: block;
  position: absolute; left: 70px; bottom: 70px;
  list-style-type: none;
}

#main-menu .footer li
{
  display:block;
  padding: 22px 0 0 0;
  font-family: Montserrat; color: #FFF; font-size: 13px; font-weight: bold;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#main-menu .footer a
{
  color: #FFF;
  text-decoration: none;
  margin-top: 22px;
}

#news-menu
{
  left: 0; right: 0;
  background-color: #FFF;
  color: #484848;
  overflow-y: scroll;
  padding: 70px 50px;
}

#news-menu .menu-title
{
  display: block;
  margin: 50px 0 45px 0;
  font-family: Montserrat; font-size: 20px; font-weight: bold;
  line-height: 100%;
  padding-bottom: 16px;
  border-bottom: 1px solid #484848;
  text-transform: uppercase;
}

#news-menu .title
{
  display: block;
  margin: 35px 0 10px 0;
  font-family: Montserrat; font-size: 20px; font-weight: bold;
  line-height: 100%;
}

#news-menu .author
{
  display: block;
  font-family: Muli; font-size: 19px; font-weight: bold;
  line-height: 100%;
}

#news-menu .description
{
  display: block;
  margin: 25px 0 35px 0;
  padding-bottom: 33px;
  border-bottom: 1px solid #484848;
  font-family: Muli; font-size: 16px; font-weight: 200;
}

/*---Main Container---*/
#main-container
{
  position: fixed; top: 0; left: 0;
  width: 100%; height: 100%;
}

/*---Article infos column & authors filters column---*/
#main-aside
{
  display: block;
  box-sizing: border-box;
  position: absolute; top: 0; left: 0;
  width: 360px; height: 100%;
  padding: 150px 45px 0 70px;
  background-color: #F5F5F5;
  font-family: Muli; color: #484848; font-size: 14px; font-weight: 200;
}

#main-aside .author
{
  margin-bottom: 60px;
}

#main-aside .author-pic
{
  float: left;
  width: 90px; height: 90px;
  border-radius: 100%;
  margin-right: 12px;
}

#main-aside .author-infos
{
  height: 90px;
  display:table-cell;
  vertical-align:middle;
}

#main-aside .author-name
{
  font-family: Montserrat; color: #FF6666; font-size: 13px; font-weight: bold;
}

#main-aside .author-desc
{
  font-family: Muli; color: #484848; font-size: 12px; font-weight: 200;
}

#main-aside .info
{
  width: 220px;
  margin: 36px 0;
}

#main-aside .info-title
{
  margin: 10px 0;
  font-family: Montserrat; color: #242D5C; font-size: 15px; font-weight: bold;
  text-transform: uppercase;
}

#main-aside .info-desc {}

#main-aside .gauge
{
  width: 100%; height: 8px;
  background-color: #CDCCCC;
  margin-top: 8px;
}

#main-aside .gauge .percent
{
  width: 0%; height: 8px;
  background-color: #FF6666;
}

#main-aside .downloads a
{
    text-decoration: none;
}


#main-aside .download
{
  height: auto; height: 34px;
  margin-right: 24px;
}

#main-aside .search-form
{
  display: block;
  line-height: 0;
  font-size: 0;
  margin-bottom: 40px;
}

#main-aside .search-field, #main-aside .search-btn
{
  display: inline-block;
  font-family: Montserrat; color: #FF6666; font-size: 20px;
  line-height: 100%;
  background: transparent;
  border-style: solid;
  border-color: #FF6666;
}

#main-aside .search-field
{
  width: 129px; height: 20px;
  border-width: 1px;
  padding: 10px 20px;
}

#main-aside .search-field::-webkit-input-placeholder { color: #FF6666; }
#main-aside .search-field::-moz-placeholder { color: #FF6666; }
#main-aside .search-field:-ms-input-placeholder {color: #FF6666; }
#main-aside .search-field:-moz-placeholder { color: #FF6666; }

#main-aside .search-btn
{
  width: 49px;
  font-weight: bold;
  padding: 10px;
  border-width: 1px 1px 1px 0;
}

#main-aside .filters {}

#main-aside .filter
{
  margin: 6px 0;
}

#main-aside .filter-name
{
  display: block;
  margin-top: 11px;
  padding-top: 11px;
  border-top: 1px solid #242D5C;
  font-family: Montserrat; color: #242D5C; font-size: 15px;
}

#main-aside .filter input[type=checkbox]
{
  margin-right: 4px;
}

/*---Main content---*/
#main-content
{
  box-sizing: border-box;
  position: absolute; top: 100px; left: 360px;
  height: 100%;
  padding-bottom: 200px;
  overflow-y: scroll;
}

/*---Main article---*/
#article-main
{
  display: block;
  margin: 0px 150px;
  font-family: Muli; color: #484848; font-size: 16px; font-weight: 200;
}

#article-main .article-infos
{
  display: inline-block;
  font-family: Muli; color: #484848; font-size: 17px; font-weight: 200;
  padding: 0 0 14px 0;
  margin-top: 120px;
  border-bottom: 1px solid #484848;
}

#article-main .article-title
{
  font-family: Montserrat; color: #000; font-size: 30px; font-weight: bold;
  text-transform: uppercase;
  margin: 42px 0 24px 0;
}

#article-main .article-author
{
  font-family: Montserrat; color: #484848; font-size: 24px; font-weight: normal;
  margin: 24px 0 42px 0;
}

#article-main .article-keywords
{
  font-family: Muli; color: #484848; font-size: 16px; font-weight: bold;
  margin: 42px 0 46px 0;
}

#article-body
{}


#article-body p, #article-footer p
{
  margin: 22px 0;
}

#article-body h3, #article-footer h3
{
  font-family: Muli; color: #484848; font-size: 18px; font-weight: bold;
}

/*---Articles--*/
#articles-main
{
  margin: 0 70px 0 150px;
  font-family: Muli; color: #484848; font-size: 16px; font-weight: 200;
  column-count: 2;
  column-gap: 100px;
}

#articles-main .theme, #articles-main .theme-articles
{
  -webkit-column-break-inside: avoid; /* Chrome, Safari */
  page-break-inside: avoid; /* Firefox */
  -moz-column-break-inside: avoid;
  break-inside: avoid-column; /* CSS3, IE10+ */
  -o-column-break-inside: avoid;
  display: inline-block;
}

@media screen and (min-width: 1300px)
{
  #articles-main
  {
    column-count: 3;
  }
}

@media screen and (min-width: 1600px)
{
  #articles-main
  {
    column-count: 4;
  }
}

#articles-main .theme-title
{
  margin-top: 22px;
  font-family: Montserrat; color: #FF6666; font-size: 20px; font-weight: bold;
}

#articles-main .theme-articles
{
  list-style: none;
  padding-bottom: 30px;
  border-bottom: 1px solid #FF6666;
  margin-bottom: 40px;
}

#articles-main .theme-articles li
{
  display: block;
  margin: 10px 0;
}


/*---Authors---*/
#authors-main
{
  margin: 44px 0 0 64px;
  line-height: 0;
  font-size: 0;
}

#authors-main .author
{
  display: inline-block;
  height: 90px;
  margin-left: 20px;
  margin-bottom: 60px;
}

#authors-main .author-pic
{
  float: left;
  width: 54px; height: 54px;
  border-radius: 100%;
  margin-right: 12px;
}

#authors-main .author-infos
{
  display:table-cell;
  vertical-align:middle;
  width: 300px;
}

#authors-main .author-name
{
  font-family: Montserrat; color: #FF6666; font-size: 20px; font-weight: bold;
  line-height: 110%;
}

#authors-main .author-name a
{
  color: inherit;
  text-decoration: none;
}

#authors-main .author-name a:hover
{
  color: inherit;
  text-decoration: underline;
}

#authors-main .author-desc
{
  font-family: Muli; color: #484848; font-size: 16px; font-weight: 200;
  line-height: 140%;
}

/*---Author---*/
#author-profile
{
  z-index: 90;
  position: fixed; top:0; left:0;
  box-sizing: border-box;
  height: 100%; width: 500px;
  padding: 98px 70px 0 70px;
  background-color: #242D5C;
  overflow-y: scroll;
  box-shadow: 0 0 75px 0 rgba(0, 0, 0, 0.33);
}

#author-profile .author-pic
{
  display: block;
  width: 190px; height: 190px;
  border: 5px solid #FF6666;
  margin: 0 auto 46px auto;
  border-radius: 100%;
}

#author-profile .author-name
{
  font-family: Montserrat; color: #FF6666; font-size: 20px; font-weight: bold;
  line-height: 20px;
  padding-bottom: 6px;
}

#author-profile .author-infos
{
  font-family: Muli; color: #FFF; font-size: 16px; font-weight: normal;
  line-height: 130%;
  margin-bottom: 16px;
}

#author-profile .author-desc
{
  font-family: Muli; color: #FFF; font-size: 16px; font-weight: 200; font-weight: 200;
  line-height: 130%;
  padding: 23px 0;
  border-width: 1px 0; border-style: solid; border-color: #FFF;
  margin-bottom: 23px;
}

#author-profile .articles
{
  font-family: Montserrat; color: #FFF; font-size: 20px; font-weight: bold;
  line-height: 100%;
  text-transform: uppercase;
}

#author-profile .article-category
{
  margin: 12px 0;
}

#author-profile .article-category-title
{
  font-family: Montserrat; color: #FF6666; font-size: 15px; font-weight: normal;
  line-height: 100%;
  padding-bottom: 7px;
  border-bottom: 1px solid #FF6666;;
  margin-bottom: 15px;
}

#author-profile .article-titles
{
  display: block;
  list-style: none;
}

#author-profile .article-titles li
{
  display: block;
  font-family: Muli; color: #FFF; font-size: 14px; font-weight: 200;
  line-height: 100%;
  padding-bottom: 6px;
}

#author-profile .article-titles li a
{
  color: #FFF;
  text-decoration: none;
}

#author-profile .article-titles li a:hover
{
  color: #FFF;
  text-decoration: underline;
}

/*---Contribute--*/
.contribute-content
{
    left: 0 !important;
}

#contribute-main
{
  margin: 0 auto;
}
